[type="file"]{
    margin-left: 30%;
}
@media (max-width: 1150px) {
    [type="file"]{
        margin-left: 20%;
    }
}
@media (max-width: 768px) {
    [type="file"]{
        margin-left: 10%;
    }
}
@media (max-width: 680px) {
    [type="file"]{
        margin-left: 5%;
    }
}
.formHeadings{
    text-align: left;
    vertical-align: middle;
    padding-top: 25px; 
    margin-left: 2%;
  }
  
  .dropzone {
    border: 4px dashed var(--svetla);
    height: 200px;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    max-width: 50%;
    margin-bottom: 20px;
  
    color: var(--svetla);
    font-weight: bold;
  }
  
  .info {
    margin-top: 11%;
  }
  
  .dropzone p {
    /*height: 100%;*/
    /*line-height: 200px;*/
    margin: 0%;
    text-align: center;
    width: 100%
  }
  
  .dropzone_narrate{
      font-size: 30px;
      color: var(--svetla);
      margin-top: 0px;
      margin-left: 2px;
  }